body {
  background-color: powderblue;
}
h1 {
  border: medium solid darkblue;
  color: darkblue;
  width: fit-content;
  padding: 1%;
  margin-top: 5px;
}
button {
  background-color: darkblue;
  color: white;
}

#screenNumbers {
}

body {
  border: medium solid darkblue;
  width: fit-content;
  padding: 1%;
}

#solarpanel {
  border: medium solid darkblue;
  width: 60px;
  height: 20px;
  color: aliceblue;
  background-color: darkblue;
}
