body {
  background-color: #bfbfbf;
  color: green;
}
h1 {
  border: 2px solid #8c8c8c;
  color: #281314;
  width: fit-content;
  padding: 1%;
  margin-top: 5px;
  background-color: #9d859f;
}
button {
  background-color: #428c7a;
  color: white;
}

#screenNumbers {
}

body {
  border: 2px solid #8c8c8c;
  width: fit-content;
  padding: 1%;
  margin: 0 auto;
  margin-top: 10%;
}

#solarpanel {
  border: medium solid #8c8c8c;
  width: 60px;
  height: 20px;
  color: aliceblue;
  background-color: #281314;
}

html {
  background-color: white;
}

#blockOperators {
  margin-top: 10px;
}
#buttons {
  text-align: center;
}
#equal {
  background-color: #9d859f;
  color: #281314;
}
